* {

    margin: 0;
    padding:0;
}
body {
    box-sizing: border-box;
}
.titulo__integracao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    font-size: 20px;
}